.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  font-family: sans-serif;
  height: 100%;
  justify-content: center;
  background-size: cover;
}

.footer {
  bottom: 0;
  position: fixed;
}

/* .meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
} */

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin: auto;
  overflow: auto;
  width: 100%;
}

.recipes img {
  height: 130px;
  width: 130px;
  border-radius: 10px 10px 0 0;
}

.recipes li {
  box-shadow: 0 2px 0 rgb(0, 0, 0);
  margin: 5px;
  border-radius: 10px;
}

.recipe-details-page {
  max-height: 640px;
  overflow: auto;
  position: absolute;
}

.recipe-details-container {
  display: flex;
  flex-direction: column;
  height: 380px;
  left: 20px;
  margin-top: 15px;
  overflow: auto;
  position: fixed;
  top: 20px;
  width: 340px;
}

.recipe-details-container img {
  height: 200px;
  width: 200px;
}

.sugestions-container {
  height: 180px;
  left: 20px;
  position: fixed;
  top: 420px;
}

.sugestions-list {
  display: flex;
  height: 200px;
  overflow-x: scroll;
  width: 320px;
}

.sugestions-list img {
  height: 120px;
  margin: 10px 25px;
  width: 120px;
}

.start-recipe-btn {
  bottom: 0;
  height: 40px;
  left: 20%;
  margin: 5px 10px;
  position: fixed;
  width: 200px;
}

.detail-buttons-container {
  position: fixed;
  right: 15px;
  top: 0;
}

.done-step {
  text-decoration: line-through;
}

.done-recipe-card {
  display: flex;
  overflow-x: auto;
  width: 300px;
}

.done-recipe-image {
  height: 100px;
  width: 100px;
}
